* {
    box-sizing: border-box;
}

body {
    padding-top: 11%;
    font-family: Silkscreen;
    font-size: large;
    color: #341C02;
    background-image: url(../images/dots.png);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div img {
    padding: 1em;
    margin-bottom: 0.5em;
    width: 26%;
}

a {
    color: #341C02;
    text-decoration: none;
}

a:hover {
    color: #ffa3bc;
}


section {
    text-align: center;
}

.links {
    padding: 0.5em;
}