* {
  box-sizing: border-box;
  cursor: url("../img/cursor_wand2.png"), auto;
  cursor: inherit;
}

body {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6vw;
  letter-spacing: 0.1vw;
}

/* forum post ------------------------------ */

nav.meet {
  position: fixed;
  left: 50%;
  top: 6%;
  transform: translate(-50%);
  z-index: 1;
}

nav.meet img {
  max-width: 23vw;
}

article.forum {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52.5%);
}

div.forum_page img {
  max-width: 70vw;
}

div.arrows_forum img {
  max-width: 7vw;
  margin: 3.6vw;
}

div.next_button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 4.8vw;
}

div.next_button img {
  max-width: 16.5vw;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

div.popup-content-sweater {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.popup-content-sweater img {
  max-width: 56.5vw;
}

/* forum reply ------------------------------ */

div.socks img {
  max-width: 14.5vw;
}

div.shoes img,
div.cake_dress img {
  max-width: 18vw;
}

div.reply_container {
  text-align: center;
  position: relative;
  width: 100%;
}

div.reply_container img {
  max-width: 50vw;
  margin-left: 5vw;
  z-index: 0;
}

button {
  background-color: #ffa3b1;
  color: black;
  border: solid 0.18vw black;
  padding: 1.45vw 4.8vw;
  margin: 0.7vw;
  border-radius: 10px;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.45vw;
  width: 63%;
  transform: translateX(24%);
  text-align: center;
}

div.question_container,
div.question {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 87%;
  padding: 1vw;
  top: 8%;
  left: 10%;
}

#result {
  position: absolute;
  top: 100%;
  transform: translate(1.5%, 100%);
  padding: 1vw;
  margin-top: 13.7vw;
}
