* {
  box-sizing: border-box;
}

body {
  background-color: lavender;
  padding: 1em;
  margin: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

header {
  border-top: dashed 5px rgb(207, 207, 243);
  margin-bottom: 3em;
}

footer {
  border-bottom: dashed 5px rgb(207, 207, 243);
  margin-top: 5em;
}

.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: silkscreen;
  color: navy;
  text-align: center;
}

h2 {
  font-family: silkscreen;
  color: navy;
  text-align: center;
}

section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100%;
  border: 3px dotted pink;
  background-color: white;
  padding: 1em;
  margin-top: 2.5em;
}

p {
  font-family: "Courier New", Courier, monospace;
  padding: 1em;
  text-align: center;
}

img {
  width: 27vw;
  margin: 1em;
}

.music {
  width: 18vw;
  margin-bottom: 1em;
}

.books {
  width: 22vw;
}

.hanger {
  width: 25vw;
}
