* {
  box-sizing: border-box;
  cursor: url("../img/cursor_wand2.png"), auto;
  cursor: inherit;
}

/* jeans ------------------------------ */

article.jeans,
article.how_dye {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

div.how img {
  max-width: 43vw;
  margin-bottom: 3.2vw;
}

div.jeans_long img {
  max-width: 13.5vw;
  transform: translateY(-3%);
}

div.next_button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 4.8vw;
}

div.next_button img {
  max-width: 16.5vw;
}

div.jeans_hem img {
  max-width: 22.5vw;
  transform: translateY(-1%);
}

/* jeans : dyeing ------------------------------ */

article.how_dye {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  position: fixed;
}

div.dye {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.dye img {
  margin: 2.6vw;
}

div.pot img {
  max-width: 20vw;
}

div.cabbage img {
  max-width: 8vw;
}

div.beet img {
  max-width: 6vw;
}

article.drop_dye {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  position: fixed;
  left: 46%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.pot_open img {
  max-width: 38vw;
  margin-top: 3.2vw;
}

div.dye_beet img {
  max-width: 5vw;
}

div.dye_beet {
  transform: translateX(63.5%);
}

div.dye_cabbage img {
  max-width: 8vw;
}

div.dye_cabbage {
  transform: translateX(60.5%);
}

div.dye_item_jeans img {
  max-width: 14vw;
}

div.dye_item_jeans {
  margin-bottom: 3vw;
  transform: translateX(53%);
}

/* dyeing animation : beet ------------------------------ */

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(165px);
    transform: translateY(165px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(165px);
    transform: translateY(165px);
    opacity: 0;
  }

  /* animation code edited from https://animista.net/play/exits/slide-out/slide-out-bottom */
}

/* dyeing animation : cabbage ------------------------------ */

.roll-out-bottom {
  -webkit-animation: roll-out-bottom 0.7s ease-in both;
  animation: roll-out-bottom 0.7s ease-in both;
}

@-webkit-keyframes roll-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(180px) rotate(360deg);
    transform: translateY(180px) rotate(360deg);
    opacity: 0;
  }
}
@keyframes roll-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(180px) rotate(360deg);
    transform: translateY(180px) rotate(360deg);
    opacity: 0;
  }

  /* animation code edited from https://animista.net/play/exits/roll-out/roll-out-bottom */
}

/* dyeing animation : jeans ------------------------------ */

.bounce-out-bottom {
  -webkit-animation: bounce-out-bottom 2s both;
  animation: bounce-out-bottom 2s both;
}

@keyframes bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  20% {
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(95px);
    transform: translateY(95px);
    opacity: 0;
  }

  /* animation code edited from https://animista.net/play/exits/roll-out/roll-out-bottom */
}
