* {
    box-sizing: border-box;
}


/* nav */

/* header.justlogo {
    display: flex;
    justify-content: center;
} */

nav {
    display: flex;
    /* justify-content: space-between;
    text-align: center; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

nav img {
    max-width: 20vw;
}

div.buttons {
    padding: 3%;
}

div.logo img {
    max-width: 23vw;
}

.blackbutton {
    position: absolute;
}

.blackbutton:hover {
    opacity: 0;
}




body {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1em;
    letter-spacing: .2em;
}



/* choose your girl */

article.meet {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

article.girlgifs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article.girlgifs img {
    max-width: 33vw;
}

.staticg1 {
    position: absolute;
    background: white;
}
  
.staticg1:hover {
    opacity:0;
}

.staticg2 {
    position: absolute;
    background: white;
}
  
.staticg2:hover {
    opacity:0;
}

.staticg3 {
    position: absolute;
    background: white;
}
  
.staticg3:hover {
    opacity:0;
}

div.choose {
    transform: translateY(-75%);
}

div.choose img {
    max-width: 22vw;
}


/* flip phone */

div.closed img {
    max-height: 64vh;
    padding-bottom: 0.2em;
}


div.closed img:hover {
   animation: shake 0.5s; 
   animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(.3px, .3px) rotate(0deg); }
    10% { transform: translate(-.3px, -.8px) rotate(-0.4deg); }
    20% { transform: translate(-1.3px, 0px) rotate(.4deg); }
    30% { transform: translate(1.3px, .8px) rotate(0deg); }
    40% { transform: translate(.3px, -.3px) rotate(.4deg); }
    50% { transform: translate(-.3px, .8px) rotate(-.4deg); }
    60% { transform: translate(-1.3px, .3px) rotate(0deg); }
    70% { transform: translate(1.3px, .3px) rotate(-.4deg); }
    80% { transform: translate(-.3px, -.3px) rotate(.4deg); }
    90% { transform: translate(.3px, .8px) rotate(0deg); }
    100% { transform: translate(.3px, -.8px) rotate(-.4deg); }

    /* css edited from https://www.w3schools.com/howto/howto_css_shake_image.asp */
}


article.phone {
    display: grid;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.text {
    text-wrap: nowrap;
}

.open {
    position: fixed;
    left: 1.5em;
    bottom: 0;
}

div.open img {
    max-height: 75vh;
    overflow: hidden;
}

img.black {
    position: fixed;
}

img.black:hover {
    opacity: 0;
}

div.ready img {
    max-width: 63vw;
}

.ready {
    position: fixed;
    right: 1em;
    top: 0;
}




/* media queries */

/* mobile layout */

@media (orientation:landscape) and (min-height: 350px) and (hover: none) {
   body {
    font-size: 1.3em;
    text-align: center;
   }
   article.girlgifs img {
   max-width: 30vw;
   }
   img {
    max-width: 50vw;
   }
}


/* tablet layout */

@media (orientation:landscape) and (min-height: 750px) {
    body {
     font-size: 2em;
    }
    article.girlgifs img {
        max-width: 33vw;
        }
    img {
     max-width: 55vw;
    }
}

@media (orientation:landscape) {
    #warning-message {
        display: none;
    } 
}


 @media (orientation: portrait) {
    nav, article.meet, article.phone {
        display: none;
    }
    div.choose, div.message1, div.message2 {
        display: none;
    }

 }

@media (orientation: portrait) {
    #warning-message {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
}

/* warning message flower animation */

.flower:hover {
	-webkit-animation: rotate-center 0.9s ease-in-out both;
	        animation: rotate-center 0.9s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-13 11:38:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }